@keyframes fadeInAnimation {
  0% {
    filter: blur(100px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

html,
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body {
  background-image: linear-gradient(to right top, #040435, #0d255d, #194388, #1d65b6, #1089e5);
  text-align: center;
  background-repeat: repeat;
  color: white;
  font-family: "Russo One", sans-serif;
}



svg {
  z-index: 1000;
  overflow: visible;
}

h1 {
  display: block;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 70px;
  font-weight: 200;
  background-color: #0bd6dd75;
  border-radius: 22px;

}

.h1 {
  display: block;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 50px;
  font-weight: 200;
  border-color: white;
}


.hx {
  display: block;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 50px;
  font-weight: 200;
  border-color: white;
}

.navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: solid;
  margin-bottom: 5%;
  background-color: rgba(38, 7, 68, 0);
  border-radius: 25px;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
}

.navbar2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 0%;
  background-color: rgba(38, 7, 68, 0);
  border-radius: 25px;
  border-width: 4px;
  margin-top: 5%;
  border-color: white;
  border-style: solid;
}

p {
  border-style: dotted;
  border-radius: 15px;
  border-width: 4px;
  font-size: 22px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00000075;
  border-color: aquamarine;
  padding: 8px;
}

/* .p2{
  //border-color: rgb(255, 0, 0);
} */

button {
  font-family: "Russo One", sans-serif;
  background-color: rgba(0, 0, 0, 0.747);
  border-color: rgb(248, 253, 168);
  border-style: solid;
  color: rgb(255, 255, 255);
  font-size: 44px;
  border-radius: 14px;
  margin-left: 1%;
  border-width: 4px;
}

button:hover {
  font-family: "Russo One", sans-serif;
  background-color: white;
  border-color: rgb(0, 153, 255);
  border-style: solid;
  color: rgb(0, 0, 0);
  border-radius: 14px;
  cursor: pointer;
}

.buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.installsteps {
  font-size: 25px;
}

#particles-js {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* .tnm{
  font-size: px;
} */

.contract {
  margin-left: 0%;
  font-size: 25px;
  background-color: transparent;
  border-style: none;
}

.cadiv {
  background-color: #00000075;
  border-color: aquamarine;
  font-size: 22px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: dotted;
  border-radius: 15px;
  border-width: 4px;
}

.buttonca {
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  #mob {
    display: none;
  }

  h1 {
    display: block;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 47px;
    font-weight: 200;
  }

  .h1 {
    display: block;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 50px;
    font-weight: 200;
  }

  .hx {
    display: block;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 200;
    border-color: white;
    border-radius: 20px;
  }

  .navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-style: solid;
    margin-bottom: 5%;
    background-color: rgba(38, 7, 68, 0);
    border-radius: 25px;
    border-width: 2px;
  }

  .navbar2 {
    color: rgb(0, 153, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 0%;
    background-color: rgba(38, 7, 68, 0);
    border-radius: 22px;
    border-width: 3px;
    margin-top: 10%;
    font-size: 17px;
    margin-bottom: 2%;
  }

  p {
    margin-top: 0%;
    border-style: dashed;
    font-size: 15px;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
  }

  button {
    background-color: rgba(0, 0, 0, 0.747);
    border-color: rgb(248, 253, 168);
    color: rgb(255, 255, 255);
    font-family: "Russo One", sans-serif;
    border-style: solid;
    font-size: 28px;
    border-radius: 14px;
    margin-left: 5px;
    border-width: 3px;
  }

  button:hover {
    font-family: "Russo One", sans-serif;
    background-color: white;
    border-color: rgb(0, 153, 255);
    border-style: solid;
    color: rgb(0, 0, 0);
    border-radius: 14px;
    cursor: pointer;
  }
  button:active{
    background-color: rgba(0, 0, 0, 0.747);
    border-color: rgb(248, 253, 168);
    color: rgb(255, 255, 255);
  }

  .buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  #particles-js {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: fit-content;
  }

  .contract {
    margin-left: 0%;
    font-size: 15px;
    background-color: transparent;
    border-style: none;
  }

  .cadiv {
    background-color: #00000075;
    border-color: aquamarine;
    font-size: 11px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-style: dotted;
  }

  .buttonca {
    font-size: 15px;
  }
}